*{
    margin: 0;
    padding: 0;
}

#logo{
    color: aqua;
}

.flowPath:nth-child(2){
    stroke-dasharray:  271px;
    stroke-dashoffset:  271px;
    animation: lineAnimation 1s ease forwards;
}
.flowPath:nth-child(3){
    stroke-dasharray:  168px;
    stroke-dashoffset:  168px;
    animation: lineAnimation 1s ease forwards 0.3s;

}
.flowPath:nth-child(4){
    stroke-dasharray:  175px;
    stroke-dashoffset:  175px;
    animation: lineAnimation 1s ease forwards 0.6s;

}
.flowPath:nth-child(5){
    stroke-dasharray:  203px;
    stroke-dashoffset:  203px;
    animation: lineAnimation 1s ease forwards 0.9s;

}
.flowPath:nth-child(6){
    stroke-dasharray:  137px;
    stroke-dashoffset:  137px;
    animation: lineAnimation 1s ease forwards 1.2s;

}
.flowPath:nth-child(7){
    stroke-dasharray:  141px;
    stroke-dashoffset:  141px;
    animation: lineAnimation 1s ease forwards 1.5s;

}
.flowPath:nth-child(8){
    stroke-dasharray:  193px;
    stroke-dashoffset:  193px;
    animation: lineAnimation 1s ease forwards 1.8s;

}
.flowPath:nth-child(9){
    stroke-dasharray:  135px;
    stroke-dashoffset:  135px;
    animation: lineAnimation 1s ease forwards 2.1s;
}
.flowPath:nth-child(10){
    stroke-dasharray:  155px;
    stroke-dashoffset:  155px;
    animation: lineAnimation 1s ease forwards 2.4s;
}
.flowPath:nth-child(11){
    stroke-dasharray:  78px;
    stroke-dashoffset:  78px;
    animation: lineAnimation 1s ease forwards 2.7s;
}
.flowPath:nth-child(12){
    stroke-dasharray:  135px;
    stroke-dashoffset:  135px;
    animation: lineAnimation 1s ease forwards 3.0s;

}
@keyframes lineAnimation 
{
    to{
        stroke-dashoffset: 0;
    }
    
}
